*
{
    margin: 0px;
    padding: 0px;
}

header
{
    width: 100%;
    height: 100px;
    background-image: url("head.jpg");
    background-size: 100%;
}

img
{
    width: 90vw;
    height: 500px;
    object-fit: cover;
}
.inner
{
    text-align: center;
}